*{
    text-align: center;
    font-family: tahoma;
}
body{
    background-color: rgb(198, 200, 200);
    display: inline-block;
}
form{
    width: 500;
    height: auto;
    background-color: rgb(105, 188, 230);
}
fieldset{
    background-color: rgb(105, 188, 230);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;

}
legend{
    text-align: right;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(36, 198, 103);
}

