* {
    margin: 0;
    padding: 0;
}

#shop {
    background: linear-gradient(rgba(0, 0, 0.2, 0.2), #151515), url(back.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.shop-text {
    text-align: center;
    color: white;
    padding-top: 100px;
}

.shop-text h1 {
    font-size: 110px;
    font-family: 'Kaushan Script', cursive;
}

.shop-text p {
    font-size: 30px;
    font-style: italic;
    /* font-family: 'Poppins', sans-serif; */
}

.shop-btn {
    margin: 70px auto 0;
}

.shop-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: 0.5px solid white;
    border-radius: 5%;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.shop-btn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.2s;
    border-radius: 10%;

}

.shop-btn a:hover span {
    width: 100%;

}

.shop-btn a:hover {
    color: black;
    box-shadow: 5px 5px 70px 5px grey;
    border-radius: 10%;
}

/* nabvar */
nav {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 10%;
    padding-bottom: 20px;
    transition: 800ms;
}

.navbar.solid {
    display: flex;
    display: inline;
    width: 100%;
    position: fixed;
    align-items: center;
    background-color: #403f40;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 10%;
    padding-bottom: 20px;
    transition: 800ms;
    z-index: 1;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: whitesmoke;
    font-family: 'Lato';
    text-decoration: none;
    font-weight: bolder;
}

nav ul li a:hover {
    color: springgreen;
    transition: 300ms;
}

#menu {
    visibility: hidden;
}

@media only screen and (max-width:768px) {
    #nav {
        width: 160px;
        height: 100vh;
        position: fixed;
        right: -160px;
        top: 0;
        background: #403f40;
        z-index: 2;
        transition: 0.3s;
    }

    nav ul li {
        list-style: none;
        margin: 50px 20px;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
    }

    #menu {
        visibility: visible;
        width: 10px;
        height: 50px;
        text-align: center;
        position: fixed;
        right: 30px;
        top: 20px;
        border-radius: 3px;
        z-index: 3;
        cursor: pointer;
    }

    #menu img {
        width: 20px;
        margin-top: 15px;
    }


}

.title {
    text-align: center;
    padding-bottom: 70px;
}

.title p {
    margin: auto;
    font-size: 4rem;
    font-weight: bold;
    font-family: "Kaushan Script";
    position: relative;
    display: inline-block;
    background: #12c2e9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}


.title h1 {
    font-size: 50px;
}

.title img {
    border-radius: 10px;
}

/*--service--*/

#service {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.service-box {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service {
    flex-basis: 38%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;

}

.single-service img {
    width: 100%;
    border-radius: 7px;
}

.over {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #3b3a3b);
    opacity: 0;
    transition: 0.3s;
}

.single-service:hover .over {
    opacity: 1;
}

.service-desc {
    width: 80%;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.2s;
}

.single-service:hover .service-desc {
    bottom: 40%;
    opacity: 1;
}

hr {
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.single-service p {
    font-size: 18px;
}

#test {
    width: 100%;
    padding: 70px 0;
}

.test-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}

.test-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;

}

.test-col p {
    font-size: 14px;
}

#footer {
    padding: 100px 20px 0;
    background: #efefef;
}

.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
}

.footer-row p {
    line-height: 35px;
}

#laptop {}